@import "../../styles/variable";

.spinnerWrap {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}

.content {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1060px;
}

.userCard {
    background: #fff;
    padding: 0;
    text-align: center;
    margin: 70px 0 15px;
    position: relative;
    z-index: 2;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.userStatsWrap {
    position: absolute;
    width: 100%;
    padding: 20px;
    top: 0;
    text-align: left;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px 0 0;
        text-transform: uppercase;
        line-height: 23px;
        padding: 0 10px;
        font-weight: 300;
        border: 1px solid rgba(156,163,174,.2);
        border-radius: 2px;
        color: $muteColor;
        font-size: 10px;
    }
}

.userCardInfo {
    position: relative;
    top: -70px;
    margin-bottom: -60px;
}

.userCardAvatar {
    position: relative;
    padding: 0 0 15px;
    a {
        width: 140px;
        height: 140px;
        margin: 0 auto;
    }
    img {
        width: 140px;
        height: 140px;
        display: block;
        padding: 4px;
        margin: 0 auto;
        background: #fff;
        border-radius: 50%;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }
}

.userCardName {
    h1 {
        font-size: 24px;
        color: $weightColor;
        line-height: 30px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        small {
            font-size: 12px;
            font-weight: 400;
            color: $muteColor;
            margin-left: 10px;
        }
    }
}

.userCardBio {
    margin: 5px 0;
    color: $muteColor;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.socialItems {
    margin: 15px auto;
    padding: 0;
    text-align: center;
    display: block;
}

.followActions {
    a {
        margin: 10px;
        min-width: 120px;
    }
}

.userCardNavs {
    margin-top: 15px;
    a {
        text-transform: uppercase;
        display: block;
        color: rgba(76,87,102,.54);
        font-size: 14px;
        padding-bottom: 10px;
        strong {
            display: block;
            font-size: 24px;
            font-weight: 400;
            color: $weightColor;
            margin-bottom: 5px;
        }
        &.active,
        &:hover {
            color: $primaryColor;
            border-bottom: 2px solid $primaryColor;
            strong {
                color: $primaryColor;
            }
        }
    }
}

.orderMenu {
    padding-right: 10px;
    margin: 8px 0 6px;
    &>ul {
        margin: 0;
        padding: 0;
        &>li {
            list-style: none;
            display: inline-block;
            margin: 0 0 0 30px;
            padding: 0;
            a {
                color: #a1a8af;
                font-size: 15px;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.active {
                a {
                    color: $focusColor;
                }
            }
        }
    }
}

.card {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    margin: 10px 0;
    border-radius: 4px;
    display: block;
    position: relative;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    background: #fff;
    overflow: hidden;
    &:hover {
        box-shadow: 0 4px 20px 0 rgba(168,182,191,.6);
    }
}

// posts/share/votes
.postCard {
    .body {
        position: relative;
        overflow: hidden;
        .saveBtn {
            position: absolute;
            top: -15px;
            right: 15px;
            opacity: 0;
            transition: .25s;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            z-index: 1;
            span {
                color: #fff !important;
                vertical-align: middle;
            }
        }
        .counts {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -15px;
            padding: 10px;
            opacity: 0;
            transition: .25s;
            // background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
            font-size: 14px;
            color: #fff;
            height: 50px;
            text-align: right;
            em {
                font-style: normal;
                font-size: 14px;
            }
            span {
                color: #fff !important;
                font-size: 20px !important;
                margin-left: 8px;
                margin-right: 8px;
                vertical-align: middle;
                line-height: 30px;
            }
        }
        .postLink {
            position: relative;
            display: block;
            overflow: hidden;
            img {
                display: block;
            }
        }
    }
    .footer {
        height: 64px;
        overflow: hidden;
        background: #fff;
        padding: 10px;
        position: relative;
        border-radius: 0 0 4px 4px;
        .authorLink {
            display: block;
            position: absolute;
            left: 10px;
            top: 14px;
            img {
                display: block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 2px solid #fff;
            }
            &:hover {
                img {
                    border-color: #00ae50;
                }
            }
        }
        h2,
        p {
            padding-left: 45px;
            margin: 0;
        }

        h2 {
            font-size: 16px;
            line-height: 24px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #343639;
            font-weight: 500;
        }
        p {
            line-height: 20px;
            font-size: 13px;
            color: rgba(76, 87, 102, .5);
            a {
                color: rgba(76, 87, 102, .5);
                padding: 0 3px;
                &:hover {
                    color: $focusColor;
                }
            }
        }
    }

    &:hover {
        .saveBtn {
            top: 15px;
            opacity: 1;
        }
        .counts {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }
    }

    > a {
        display: block;
        position: relative;
        min-height: 150px;
        width: 100%;
        max-height: 600px;
        border-radius: 4px 4px 0 0;
        overflow: hidden;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        img {
            display: block;
        }
    }
}

// collection
.collectionCard {
    .thumb {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        img {
            display: block;
            width: 100%;
        }
    }

    .smallThumb {
        width: 33.33333333%;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        float: left;
        &:last-child {
            border-right: none;
        }
    }

    .preview {
        position: absolute;
        max-height: 100%;
        z-index: 2;
        top: 50%;
        margin: auto;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .placeholder {
        z-index: 1;
    }

    .info {
        height: 64px;
        overflow: hidden;
        background: #fff;
        padding: 10px;
        position: relative;
    }

    .authorLink {
        display: block;
        position: absolute;
        left: 10px;
        top: 14px;
        img {
            display: block;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 2px solid #fff;
        }
        &:hover {
            img {
                border-color: #00ae50;
            }
        }
    }

    .metabox {
        padding-left: 40px;
        padding-right: 75px;
        h2 {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #343639;
            font-weight: 500;
        }
        .counts {
            line-height: 20px;
            font-size: 13px;
            color: rgba(76,87,102,.5);
            .point {
                width: 2px;
                height: 2px;
                background: #aaa;
                display: inline-block;
                margin: 0 5px;
                position: relative;
                top: -3px;
            }
        }
    }

    .followBtn {
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
    }
}

// followers/following
.followCard {
    text-align: center;
    .banner {
        top: 0;
        height: 100px;
    }
    .avatar {
        margin-top: -30px;
        margin-bottom: 15px;
        padding: 0px 15px 0;
        a {
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }
        img {
            border: 2px solid #fff;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            transition: all .2s ease;
        }
    }
    .name {
        margin: 0;
        line-height: 25px;
        font-size: 16px;
        color: $weightColor;
        font-weight: 500;
        display: block;
    }
    .stats {
        text-transform: uppercase;
        color: $muteColor;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }
    .bio {
        font-size: 14px;
        line-height: 20px;
        margin: 10px 20px;
        height: 40px;
        overflow: hidden;
        color: #6c7c83;
    }
    .follow {
        padding: 20px 0;
        height: 78px;
    }
}