$mainColor: #343536 !default; // Text Color
$muteColor: #a1a8af !default;

$primaryColor: #6cd1da !default;
$secondaryColor: #2856b6 !default;
$successColor: #7fc857 !default;
$hotColor: #e86c6c !default;
$focusColor: #ff4081 !default;